.container {
    margin: 0 2rem;
    padding: 1rem;
    display: flex;
    background-color: aliceblue;
}

.content {
    line-height: 26px;
    padding: 20px 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  
}
.content h3{
    text-align: center;
   
}
.content p {

}
.bookContainer {
    display: flex;
}
.button {

}