.banner {
    border-radius: 20px;
    background: linear-gradient(112deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 85%), url("../../public/pngtree-many-green-books-stacked-on-a-green-surface-picture-image_2679448.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
}
.content p {
    margin: 8px 0;
    font-size: 14px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner h4 {
    font-size: 30px;
}
