.banner {
    border-radius: 20px;
    background-image: linear-gradient(112deg, rgba(255, 255, 255, 0) 0%, var(--main-color) 60%), url("https://picsum.photos/seed/picsum/900/250");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    color: #fff;
    padding: 4rem;

}
.content p {
    margin: 8px 0;
    font-size: 14px;
}
.content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.banner h4 {
    font-size: 30px;
}
