/* .container {
    background: linear-gradient(145deg, rgba(8,124,107,1) 31%, rgba(8,135,115,1) 93%);
    border-radius: 20px;
    padding: 30px 60px;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.container h3 {
    font-size: 30px;
}
.input {
    padding-top: 2rem;
    width: 60%;
    margin: 0 auto;
} */