.bookCard {
    padding: 0.5rem;
}
.imgContainer{
    border-radius: 20px;
}

.autor {
    margin-top: 0.8rem;
    color: var(--main-color);
    font-size: 14px;
    font-weight: 500;
}
.titulo {
    font-size: 1rem;
    margin-top: 0.5rem;
    font-weight: 700;
} 
.precio {
    margin-top: 1rem;
    font-weight: 700;
    color: var(--main-color);
}