.footer {
    background-color: var(--dark-color);
    padding: 3rem 2rem;
    color: #fff;
}
.footerWraper {
    max-width: var(--max-width);
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    column-gap: 2rem;
}
.footerWraper > div {

    display: flex;
    flex-direction: column;
    gap: 12px;
    border-right: 1px solid white;
}

.link {
    color: #fff;
    font-size: 14px;
}