
.container {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 26px;
    padding: 6px 10px 6px 24px;
    background-color: #fff;
}
.input {
    background-color: #fff;
    flex: 3;
    border: none;
    outline: none;
    font-size: 1rem;
    min-width: 100px;
}
.container btn {
    display: block;
    flex-grow: 5;
}
.input::placeholder {
    font-weight: 500;
    font-style: italic;
}