/* .navContainer{ 
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    align-items: center;
    max-width: var(--max-width);
    margin: 0 auto;
    background-color: white;
}
.navWraper {
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    
}
*/
 /* .navLinks {
    display: flex;
    gap: 2rem;
    align-items: center;
    margin: 0;
} */

.navLinks a {
    color: var(--dark-color);
    /* font-size: 1.6rem; */
    font-weight: 500;
    text-decoration: none;
    
}


.navLinks a:hover {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
    
}

.active {
    border-bottom: 3px solid var(--main-color);
    
}
