.container {
    display: flex; 
    justify-content: center;
    flex-wrap: wrap;    
    gap: 0 1rem;
}

.container * {
    padding: 1rem;
    font-size: 1rem;
    border: none;
    border-bottom: 2px solid gainsboro;
    
    color: var(--dark-color-l1);
    background-color: #fff; 
    font-weight: 500;

}
.container *:hover {
    border-bottom: 3px solid var(--secondary-color);
    cursor: pointer;
    font-weight: 800;
}
