.searchContainer {
    padding: 6px 10px 6px 24px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    border-radius: 26px; 
     /* width: 100%; */
}
.searchContainer input {
    border: none;
    font-size: 1rem;
    outline: none;
    padding: 10px 0;
    flex: 3;
    min-width: 100px;
}

.searchContainer btn {
    display: block;
    flex-grow: 5;
}