
* {
 
    box-sizing: border-box;
}
body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
:root {
    --main-color: #087c6b;
    --main-color-light: #e4fffb;
    --gris: #e4e9e8;
    --secondary-color: #ff6320;
    --secondary-color-light: #ffece3;
    --dark-color: #101313;
    --dark-color-l1:#383a3a;
    --status-color: #219fff;
    --focus-main: #178d8d;
    --max-width: 1290px;
}

/* 
h1 {
    font-size: 56px;
    line-height: 66px;
    font-weight: 700;
}
h1 {
    font-size: 56px;
    line-height: 66px;
    font-weight: 700;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 700;
}
h1 {
    font-size: 56px;
    line-height: 66px;
}
h2 {
    font-size: 42px;
    line-height: 52px;
}
h3 {
    font-size: 30px;
    line-height: 40px;
}
h4 {
    font-size: 24px;
    line-height: 34px;
}
h5, p {
    font-size: 20px;
    line-height: 30px;
}
h5{
    font-size: 1rem;
    line-height: 22px;
} */

/* ::-webkit-scrollbar {
    display: none;
} */

ul {
    list-style: none;
}
li {
    text-decoration: none;
    text-decoration: none;
}

.splide__arrows {
    display: none;
    /* position: absolute;
    bottom: 50%;
    z-index: 5; */
  }

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    border: none;
    box-shadow: none;
}
.navbar-toggler-icon {
    color: blue;
}
.btn-close {
    font-size: 1rem;
}
.offcanvas-body {
    padding: 1.6rem;
}


.autores .is-active .is-visible {
    background-color: var(--dark-color-l1);
    color: white;
}
.pagination-link {
    color: #fff;
    background-color: var(--main-color);
    
}
.pagination-link:hover , .pagination-link:focus, .pagination-link:active {
    color: #fff;
    background-color: var(--secondary-color);
    border: none;
}
a {
    text-decoration: none;
}
.footer a {
    color: #fff;
}
.footer input[type="text"] ,input[type="text"]:focus, input[type="text"]:active, input[type="text"]:hover {
    border: none;
    outline: none;
}
input[type="text"]{
    min-width: 100px
}